@font-face {
  font-display: block;
  font-family: bootstrap-icons;
  src: url('/static/vendor/fonts/bootstrap-icons.woff2') format('woff2'),
       url('/static/vendor/fonts/bootstrap-icons.woff') format('woff');
}
